{# <header>
	<nav>
		<ul>
		{% if user %}
		<li>Yolo</li>
			{% else %}
			<li>
            <a href="/register">inscription</a>
            </li>
			<li>
            <a href="/login">connexion</a>
            </li>
		{% endif %}
		</ul>
	</nav>
</header> #}


<header>
	<nav>
		<ul>
			{% if user %}
				<li>
					<a href="/logout">déconnexion</a>
			{% else %}
				</li>

				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/register">Inscription</a>
				</li>

			</li>
		{% endif %}
	</ul>
</nav></header>
