{# <header>
	<nav>
		<ul>
		{% if user %}
		<li>Yolo</li>
			{% else %}
			<li>
            <a href="/register">inscription</a>
            </li>
			<li>
            <a href="/login">connexion</a>
            </li>
		{% endif %}
		</ul>
	</nav>
</header> #}


<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/register">Inscription</a></li>
        </ul>
    </nav>
</header>
