{% extends "../layouts/base.html.twig" %}

{% block style %}
    {# <link rel="stylesheet" href="/assets/css/subscribe.css"> #}
{% endblock %}

{% block title %}
{# double {{}} = variable #}
    <title>{{ title }}</title>
{% endblock %}

{% block main %}
<main>
    <section>
        <div>
            <h2>Formulaire de connexion</h2>
        </div>
        <div>
            <form action="./login" method="post">
                <div>
                    <label for="siret">Votre numero de SIRET</label>
                    <input id="siret" type="text" name="siret">
                </div>
                <div>
                    <label for="password">Votre mot de passe</label>
                    <input id="password" type="password" name="password">
                    {% if error.password %}
                    <p>{{error.password}}</p>
                    {% endif %}
                </div>
                <div>
                    <button type="submit">Envoyer</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}